#navbar{
    text-align: right;
    position: fixed;
    list-style: none;
    width:100vw;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background: var(--nav-color);
    z-index: 5;
    transition: max-height 0.2s ease-in-out;
    border-bottom: 5px solid black;
}

#navbar > li{
    display: inline-block;
    width: 200px;
    height: 100%;
    background-color: transparent;
    font-size: 1.3rem;
    cursor: pointer;
}

#navbar > li > a{
    display: block;
    padding-top: 27px;
    height: calc(100% - 25px);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-weight: bolder;
    text-shadow: grey 1px 0 10px;
}

#navbar > li > a:hover{
    /* background-color: var(--nav-color); */
    background-color: rgba(0,0,0,0.5);
    color: var(--orangered);
}

#navbar-toggler{
    z-index: 4;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

@media only screen and (min-width: 1420px) {
    #navbar{
        height: 80px;
    }
}

@media only screen and (max-width: 1420px) {
    #navbar{
        height: auto;
        overflow: hidden;
        max-height: 400px;
    }

    #navbar.collapsed{
        max-height: 0px;
    }

    #navbar > li > a{
        padding-top: 27px;
        padding-bottom:27px;
        display: block;
        width: 100%;
    }
    #navbar > li{
        width: 100%;
        display: block;
    }

    #nav-enabler{
        cursor: pointer;
        z-index: 6;
        position: fixed;
        top:20px;
        right:20px;
        visibility: visible;
        border: 1px solid var(--nav-color);
        border-radius: 10px;
        background-color: var(--nav-color);
        color: var(--font-color-one);
        padding: 10px;
        font-size: 1.2em;
    }    

    #nav-enabler:hover{
        background-color: var(--orangered);
        color: var(--font-color-one);
    }
}