:root{
    /* --font-color-one: seashell; */
    --font-color-one: seashell;
    /* --font-color-two: black;     */
    --font-color-two: seashell;
    /* --orangered: orangered;     */
    --orangered: gold;
    --grey: rgba(119,119,119,1);
    /* --orange-background: linear-gradient(45deg, rgba(252,131,51,1) 0%, rgba(255,69,0,1) 100%); */
    --orange-background: linear-gradient(90deg, rgba(120,0,0,1) 0%, rgba(166,33,33,1) 50%, rgba(120,0,0,1) 100%);
    --grey--background: linear-gradient(90deg, rgba(3,120,0,1) 0%, rgba(0,74,4,1) 50%, rgba(3,120,0,1) 100%);
    /* --grey--background: linear-gradient(45deg, rgba(119,119,119,1) 0%, rgba(65,65,65,1) 100%); */
    /* --nav-color: #111; */
    --nav-color:  linear-gradient(108deg, rgba(3,120,0,1) 0%, rgba(3,120,0,1) 10%, rgba(166,33,33,1) 10%, rgba(166,33,33,1) 20%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 30%, rgba(3,120,0,1) 30%, rgba(3,120,0,1) 40%, rgba(166,33,33,1) 40%, rgba(166,33,33,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 60%, rgba(3,120,0,1) 60%, rgba(3,120,0,1) 70%, rgba(166,33,33,1) 70%, rgba(166,33,33,1) 80%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 90%, rgba(3,120,0,1) 90%, rgba(3,120,0,1) 100%);
    --wrapper-color: #333;
}

.codewars::before {
    content: url(../images/codewars.svg);
    display: inline-block;
    width: 30px;
    height: 30px;
  }

body{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    font-size: large;
    overflow-x: hidden;
}

#page-heading{
    position: fixed;
    top: 0;
    left: 5%;
    z-index: 1;
    color: var(--font-color-one);
}

section{
    height: calc(100vh - 180px);
    margin: 0;
    padding: 80px;
    padding-top: 100px;
    min-height: 100vh;
}

section:first-of-type{
    background: var(--orange-background);
    color: var(--font-color-two);
}

section:nth-of-type(2){
    background: var(--grey--background);
    color: var(--font-color-one);
}

section:nth-of-type(3){
    background: var(--orange-background);
    color: var(--font-color-two);
    height: auto;
}

section:nth-of-type(4){
    background: var(--grey--background);
    color: var(--font-color-one);
}

section > h1{
    margin-top: 0;
    font-weight: bold;
    font-size: 3rem;
}   

#photo-section{
    position: relative;
    display: flex;
}

#photo-section > div > p,h2{
    padding: 0 0 0 10px;
    margin-left: 5%;
}

#photo-section > div > h2{
    padding-top: 1%;
}

#photo-section > div{
    flex: 1;
}

#photo-section > #profile-picture{
    border: 5px solid var(--orangered);
    position: relative;
    text-overflow: clip;
    max-width: 20%;
    z-index: 0;
    border-radius: 50%;
}

#about-split{
    display: grid;
    grid-auto-columns: auto;
}

#about-split > div:first-of-type{
    font-size: medium;
    grid-column-start: 1;
    max-width: 50vw;

}

#about-split > div:nth-of-type(2){
    grid-column-start: 2;
    margin-top:0;
}

#events-heading{
    margin-top: 5%;
}

.certificates{
    list-style-type: none;
}

.certificates{
    margin-left:auto;
    margin-right:auto;
}

.certificates > li{
    margin: 10px 0 10px 0;
}

.certificates > li > img{
    display: inline;
    max-width: 20px;
}

.certificates > li > a{
    text-decoration: none;
    color: var(--font-color-one);
}

.certificates > li > a:hover{
    color: var(--orangered);
}

span > .orange-anchor{
    color: var(--orangered);
    text-decoration: none;
}

span > .orange-anchor:hover{
    color: var(--font-color-one);
    text-decoration: none;
}

span > .white-anchor{
    /* color: var(--grey); */
    color: var(--orangered);    
    text-decoration: none;
}

span > .white-anchor:hover{
    color:  var(--font-color-one);
    text-decoration: none;
}

#projects{
    min-height: 100vh;
}

#projects-wrapper{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#projects-wrapper > div{
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--font-color-one);
    border-radius: 5px;
    background-color: var(--wrapper-color);
    color: var(--font-color-one);
    height: auto;
    width: 90%;
    text-align: center;
}

#projects-wrapper > div > a:hover{
    opacity: 0.4;
}

#projects-wrapper > div > * > img{
    max-width: 80%;
    max-height: auto;
}

.project-link{
    text-decoration: none;
    color: var(--font-color-one);
}

.project-link:hover{
    color: var(--orangered);
}

.contact-links{
    padding-top: 20vh!important;
    padding-bottom: 20vh!important;
    width: 100%;
    height: auto;
    text-align: center;
}

.contact-links > a{
    display: inline-block;
    padding: 0 3% 0 3%;
    margin: auto;
    text-decoration: none;
    font-size: 2rem;
    color: var(--font-color-one);
}

.contact-links > a:first-of-type{
    padding-left: 7%;
}


@keyframes scale-ani {
    100% {
      transform: scale(1.3);
    }
  }

.link-animated:hover{
    color: var(--orangered);
    animation: scale-ani 0.8s ease-in forwards;
}

@media only screen and (max-width: 1420px) {

    #photo-section{
        display: block;
    }

    section{
        height: auto;
        overflow: hidden;
    }

    section:last-of-type{
        height: 80vh;
        overflow: hidden;
    }

    #about-split{
        display: block;
    }
    #projects-wrapper{
        display: block;
    }

    #about-split{
        width: 100%;
    }

    #about-split > div:first-of-type{
        max-width: 100vw;
        padding: 0 0 0 40px;
    
    } 
    .contact-links > a{
        margin:  30px 0 30px 0;
    }

    #photo-section > #profile-picture{
        position:relative;
        max-width: 50%;
        margin-left: 25%;
        margin-right: auto
    }    

    #photo-section > h2{
        margin-left: 0px;
        padding: 0 0 0 40px
    } 

    #photo-section > p{
        margin-left: 0px;
        padding: 0 0 0 40px
    }

    .contact-links > a:first-of-type {
        padding-left: 0%;
    }

    #hat{
        max-height: 30%!important;
        top: -5%!important;
        left: 38%!important;
    }    

}


@media only screen and (max-width: 898px) {
    #photo-section{
        display: block;
    }

    #hat{
        max-height: 22%!important;
        left: 39%!important;
    }       
}


@media only screen and (max-width: 720px) {
    #photo-section{
        display: block;
    }

    #hat{
        top: -3%!important;
        max-height: 15%!important;
        left: 39%!important;
    }       

}

@media only screen and (max-width: 500px) {
    #photo-section{
        display: block;
    }

    section{
        padding-left: 2%;
        padding-right: 2%;
    }
    p{
        padding-left: 0!important;
    }
    h2{
        padding-left: 0 !important;
        margin-left: 0 !important;
    }
    div{
        padding-left: 0!important;
    } 

}    

html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

/* christmas spirit */


.ball{
    margin: 0;
    padding: 0;
    width: 10px;
    height: 10px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 50px;
    z-index: 9999;
}

#hat{
    position: absolute;
    height: 40%!important;
    transform: rotate(-15deg);
    top: -4%;
    left: 6%;
    z-index: 1;
}    