:root{
    --font-color: seashell;
    --orangered: orangered;
    --orange-background: linear-gradient(45deg, rgba(252,131,51,1) 0%, rgba(255,69,0,1) 100%);
    --grey--background: linear-gradient(45deg, rgba(119,119,119,1) 0%, rgba(65,65,65,1) 100%)
}


body{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    font-size: large;
}

#page-heading{
    position: fixed;
    top: 0;
    left: 5%;
    z-index: 1;
    color: var(--font-color);
}

#navbar{
    text-align: right;
    position: fixed;
    list-style: none;
    width:100vw;
    height:80px;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background-color: #333;
    z-index: 5;
}

#navbar > li{
    display: inline-block;
    width: 200px;
    height: 100%;
    background-color: #333;
    font-size: 1.3rem;
    cursor: pointer;
}

#navbar > li > a{
    display: block;
    padding-top: 27px;
    padding-bottom: auto;
    height: calc(100% - 30px);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: var(--font-color);
}

#navbar > li > a:hover{
    background-color: #111;
    color: var(--orangered);
}

section{
    height: calc(100vh - 180px);
    margin: 0;
    padding: 80px;
    padding-top: 100px;
}

section:first-of-type{
    background: var(--orange-background)
}

section:nth-of-type(2){
    background: var(--grey--background);
    color: var(--font-color);
}

section:nth-of-type(3){
    background: var(--orange-background)
}

section:nth-of-type(4){
    background: var(--grey--background);
    color: var(--font-color);
}


section > h1{
    margin-top: 0;
    font-weight: bold;
    font-size: 3rem;
}   

#photo-section{
    display: flexbox;
    flex-wrap: wrap;
}

#photo-section > p,h2{
    padding: 0 0 0 10px;
    margin-left: 25%;
}

#photo-section > h2{
    padding-top: 3%;
}

#photo-section > img{
    position: absolute;
    max-height: auto;
    max-width: 20%;
    z-index: 0;
    border-radius: 50%;
}

#about-split{
    display: grid;
    grid-auto-columns: auto;
}

#about-split > div:first-of-type{
    font-size: medium;
    grid-column-start: 1;
    max-width: 50vw;

}

#about-split > div:nth-of-type(2){
    grid-column-start: 2;
    margin-top:0;
}

#certificates{
    list-style-type: none;
}

#certificates{
    margin-left:auto;
    margin-right:auto;
}

#certificates > li{
    margin: 10px 0 10px 0;
}

#certificates > li > img{
    display: inline;
    max-width: 20px;
    max-height: auto;
}

#certificates > li > a{
    text-decoration: none;
    color: var(--font-color);
}

#certificates > li > a:hover{
    color: var(--orangered);
}

span > .orange-anchor{
    color: var(--orangered);
    text-decoration: none;
}

span > .orange-anchor:hover{
    color: var(--font-color);
    text-decoration: none;
}

span > .white-anchor{
    color: #666;
    text-decoration: none;
}

span > .white-anchor:hover{
    color:  var(--font-color);
    text-decoration: none;
}

#projects-wrapper{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#projects-wrapper > div{
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--font-color);
    border-radius: 5px;
    background-color: #333;
    color: var(--font-color);
    height: 60%;
    text-align: center;
}

#projects-wrapper > div > img{
    max-width: 80%;
    max-height: auto;
}

.project-link{
    text-decoration: none;
    color: var(--font-color);
}

.project-link:hover{
    color: var(--orangered);
}

.contact-links{
    padding-top: 20vh;
    padding-bottom: 20vh;
    width: 100%;
    height: auto
}

.contact-links > a{
    padding: 0 3% 0 3%;
    text-decoration: none;
    font-size: 2rem;
    color: var(--font-color);
}

.contact-links > a:first-of-type{
    padding-left: 7%;
}

@media only screen and (max-width: 1420px) {
    #navbar > li > a{
        display: inline-block;
    }
    section{
        height: auto;
        overflow: wrap;
    }
    #about-split{
        display: block;
    }
    #projects-wrapper{
        display: block;
    }
}